{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>{% block title %}Home page{% endblock %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">
		<nav class="relative flex w-full flex-wrap items-center justify-between bg-[#FBFBFB] py-2 text-neutral-500 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 lg:py-4">
		<div class="flex w-full flex-wrap items-center justify-between px-3">
		  <div class="ml-2">
			<a
			  class="text-xl font-mono text-neutral-800 dark:text-neutral-200"
			  href="#"
			  >HoodieLab</a
			>
		  </div>
		</div>
	  </nav>
		<div class="container mx-auto">
			<section class="flex items-center justify-center h-screen">
				{% block content %}
				{% endblock %}
			</section>
		</div>
	</body>
</html>
